.flex-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #499FE8;
    background-image: url("../../assets/img/customer3.jpg");
    align-items: center;
    margin-top: -21px;
    margin-bottom: -170px;
  }
  .welcome {
    color: antiquewhite;
    font-size: 2em;
  }
