<h2 class="screen-align">Create Customer</h2>
<form [formGroup]="createform">
    <div formGroupName="createdata">
        <div id="template-im4h" class="row">
            <div id="template-itih" class="cell form-group">
                <label id="template-i9fah" class="label">first name</label>
                <input id="template-iu1xj"  placeholder="please enter first name" formControlName="firstname"
                    class="input form-control" />
                <span
                    *ngIf="!createform.get('createdata.firstname').valid && createform.get('createdata.firstname').touched || !createform.get('createdata.firstname').valid && submit"
                    class="invalid-feedback">
                    Must be a valid First Name
                </span>
            </div>
        </div>
        <div id="template-ivnj" class="row">
            <div id="template-ikqf" class="cell form-group">
                <label id="template-iytwi" class="label">last name</label>
                <input id="template-isk94" placeholder="please enter last name"  formControlName="lastname"
                    class="input form-control" />
                <span
                    *ngIf="!createform.get('createdata.lastname').valid && createform.get('createdata.lastname').touched || !createform.get('createdata.lastname').valid && submit "
                    class="invalid-feedback">
                    Must be a valid Last Name
                </span>
            </div>
        </div>
        <div id="template-i29p" class="row">
            <div id="template-ilqq" class="cell form-group">
                <label id="template-i7ldq" class="label">email</label>
                <input id="template-ir08e" placeholder="please enter valid email" formControlName="email"
                    class="input form-control" />
                <span
                    *ngIf="!createform.get('createdata.email').valid && createform.get('createdata.email').touched || !createform.get('createdata.email').valid && submit"
                    class="invalid-feedback">
                    Must be a valid Email Id
                </span>
            </div>
        </div>
        <div id="template-immc" class="row">
            <div id="template-ivcj" class="cell form-group">
                <label id="template-itltz" class="label">password</label>
                <input [type]="show ? 'text' : 'password'" pw-show-hide="icon" id="template-ihrwu"
                    placeholder="please enter password" formControlName="password" class="input form-control" />
                <div class="input-group-append align-right">
                    <img [src]="show ? '../../assets/img/eyeopen.png' : '../../assets/img/eyeslash.png'" height="20"
                        (click)="hideEye()" alt="eye" />
                </div>
                <span
                    *ngIf="!createform.get('createdata.password').valid && createform.get('createdata.password').touched || !createform.get('createdata.password').valid && submit"
                    class="invalid-feedback">
                    A Password must be 8 character and must have a Uppercase , Lowercase and a Special character
                </span>
            </div>
        </div>
        <div id="template-iba4" class="row">
            <div id="template-iiohv" class="cell form-group">
                <label id="template-i8ktp" class="label">phone number</label>
                <input id="template-i3t3k" placeholder="please enter phone number" formControlName="phone"
                    class="input form-control" />
                <span
                    *ngIf="!createform.get('createdata.phone').valid && createform.get('createdata.phone').touched || !createform.get('createdata.phone').valid && submit"
                    class="invalid-feedback">
                    Required Phone Number
                </span>
                <div class="row-btn">
                    <button id="template-ibfdk" (click)="Create()" class="button btn">Create</button>
                    <button id="template-i8s2n" (click)="Cancel()" class="button btn">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</form>