<h2 class="screen-align">Edit Customer</h2>
<form [formGroup]="editform" (ngSubmit)="onSubmit()">
        <div id="template-i21s" class="row">
            <div id="template-ipk1" class="cell form-group">
                <label id="template-i4whg" class="label">first name</label>
                <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    <div *ngIf="f.firstName.errors.pattern">Must be a valid First Name</div>
                </div>
            </div>
        </div>
        <div id="template-ijxf" class="row">
            <div id="template-i585" class="cell form-group">
                <label id="template-ipjkj" class="label">last name</label>
                <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                            <div *ngIf="f.lastName.errors.pattern">Must be a valid Last Name</div>
                        </div>
            </div>
        </div>
        <div id="template-i9be" class="row">
            <div id="template-iklt" class="cell form-group">
                <label id="template-iam3f" class="label">email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Please Enter the valid email</div>

                </div>
            </div>
        </div>
        <div id="template-idi1" class="row">
            <div id="template-iegn" class="cell form-group">
                <label id="template-i1y5f" class="label">password</label>
                <input [type]="show ? 'text' : 'password'" pw-show-hide="icon" id="template-i55rr" formControlName="password" class="input form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div class="input-group-append align-right">
                    <img [src]="show ? '../../assets/img/eyeopen.png' : '../../assets/img/eyeslash.png'" height="20"
                        (click)="hideEye()" alt="eye" />
                </div>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.pattern">A Password must be 8 character and must have a Uppercase , Lowercase and a Special character</div>
                </div>
            </div>
        </div>
        <div id="template-iihl" class="row">
            <div id="template-icxns" class="cell form-group">
                <label id="template-i3v0m" class="label">phone number</label>
                <input id="template-in4l6" formControlName="phone" class="input form-control" />
                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                    <div *ngIf="f.phone.errors.required">Phone Number is required</div>
                </div>
                <div class="row-btn">
                    <button id="template-ifm9i" type="submit" class="button btn">Update</button>
                    <button id="template-i8s2m" (click)="delete()" class="button btn">Delete</button>
                    <button id="template-i8s2n" (click)="cancel()" class="button btn">Cancel</button>
                </div>
             
            </div>
        </div>
</form>