table.table-bordered {
  border: 1px solid black;
  margin-top: 20px;
  text-align: left;
  table-layout: auto;
  color: black;
  background-color: white;
}

table.table-bordered>thead>tr>th {
  border: 1px solid black;
  color: black;
  background-color: darkgrey;
}

table.table-bordered>tbody>tr>td {
  border: 1px solid black;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.row {
  display: table;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 100%;
}

.cell {
  width: 8%;
  display: table-cell;
  height: 75px;
}

#template-i21s {
  margin: 0 0 0 0;
}

#template-ijxf {
  margin: 0 0 0 0;
}

#template-i9be {
  margin: 0 0 0 0;
}

#template-idi1 {
  margin: 0 0 0 0;
}

#template-iihl {
  margin: 0 0 0 0;
}

#template-ipk1 {
  width: 514px;
  padding: 10px 10px 10px 10px;
}

#template-i585 {
  width: 514px;
  padding: 10px 10px 10px 10px;
}

#template-iklt {
  width: 514px;
  padding: 10px 10px 10px 10px;
}

#template-iegn {
  width: 514px;
  padding: 10px 10px 10px 10px;
}

#template-icxns {
  width: 514px;
  padding: 10px 10px 10px 10px;
}

.label {
  padding: 2.1px 6.3px 3.15px 1px;
  color: #000000;
  text-transform: capitalize;
  font-size: 14px;
}

.input.form-control {
  margin: 5px 0 0 0;
}

#template-i8s2m {
    margin-left: 20px;
    margin-top: 26px;
    background-color: rgb(187, 11, 11);
    color: white;
}

#template-ifm9i{
  margin: 26px 0 0 -1px;
  background-color: #024174;
  color: white;
}

.align-right {
  float: right;
  margin-top: -26px;
  margin-right: 10px;
}

.invalid-feedback {
  display: unset !important;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 90%;
  font-weight: bold;
  color: #dc3545;
}

#template-i8s2n {
  margin-left: 20px;
  margin-top: 26px;
  background-color: grey;
  color: white;
}

@media (max-width: 768px) {
  .cell {
    width: 100%;
    display: block;
  }
}
