table.table-bordered {
  border: 1px solid black;
  margin-top: 20px;
  text-align: left;
  table-layout: auto;
  color: rgb(0, 0, 0);
  background-color: white;
}

table.table-bordered>thead>tr>th {
  border: 1px solid rgb(236, 234, 234);
  color: rgb(226, 221, 221);
  background-color: #024174;
}

table.table-bordered>tbody>tr>td {
  border: 1px solid black;
}

* {
  box-sizing: border-box;
}

.button.btn.btn-primary {
    width: 100%;
    background-color: #024174;
    border-color: #024174;
    color: rgb(252, 250, 250);
    font-weight: bold;
  }

body {
  margin: 0;
}

#template-igch {
  padding-top: 10px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 10px;
}

#myGrid {
  width: auto;
  height: 32%;
}
.createuser {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}
.createuser-btn {
  width: 12% !important;
}

