<h2 class="screen-align">Customers</h2>
<div class="createuser">
    <button id="template-ibfdk" (click)="createcustomer()"  class="button btn btn-primary createuser-btn">Create User</button>
</div>
<div name="grid_template-igch" class="">
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
        <p class="spin-style">Please Wait. </p>
    </ngx-spinner>
    <table id="table" class="table table-bordered  table-striped" data-show-header="true"
    data-pagination="true" data-id-field="name">
        <thead class="table table-hover">
            <tr>
                <th *ngFor="let column of columnDefs">{{column.headerName}}</th>
            </tr>
        </thead>
        <tbody class="table-design" *ngIf="rowData.length==0">
            <td style="text-align: center;" colspan="6">No Data Found</td>
        </tbody>
        <tbody class="table-design" *ngIf="rowData.length>0">
            <tr *ngFor="let values of rowData | slice: (page-1) * paginationPageSize :(page-1) * paginationPageSize + paginationPageSize">
                <td>{{ values.firstName }}</td>
                <td>{{ values.lastName }}</td>
                <td>{{ values.email }}</td>
                <td>{{ values.phone}}</td>
                <td><button id="template-ibfdk" (click)="editcustomer(values)" class="button btn btn-primary">Edit</button></td>
            </tr>
        </tbody>
    </table>
    <div class="text-right">
        <ngb-pagination class="d-flex justify-content-start" [(page)]="page" [maxSize]="5"
        [rotate]="true" [pageSize]="paginationPageSize" [collectionSize]="rowData.length"
        [boundaryLinks]="true"></ngb-pagination>
    </div>
</div>
<div id="myGrid" class=""></div>