<nav id="template-i090p" class="navbar navbar-inverse">
    <div id="template-iyoc4" class="navbar-header">
        <span onclick="openNav()" id="in2oj" class="">
            ☰</span>

        <button type="button" data-toggle="collapse" data-target="#myNavbar" id="template-ioico" class="navbar-toggle">
            <span id="template-iy169" class="icon-bar">
            </span>

            <span id="template-ivo7o" class="icon-bar">
            </span>

            <span id="template-ihry1" class="icon-bar">
            </span>

        </button>
        <a [routerLink]="['']" id="template-io1pk" class="navbar-brand">
            CUSTOMER APP</a>

    </div>
    <div id="myNavbar" class="collapse navbar-collapse">
        <ul id="template-ionqz" class="nav navbar-nav navbar-right">
            <li id="template-ivm2e" class="active">
                <a [routerLink]="['/']" id="template-iz682" class="">
                    Home</a>

            </li>
        </ul>
    </div>
    <div id="mySidenav" class="sidenav">
        <a onclick="closeNav()" id="template-if7ki" class="closebtn">
            ×</a>

        <div id="MainMenu" class="">
            <div class="list-group panel"> <a href="#user" class="list-group-item list-group-item-success"
                    data-toggle="collapse" data-parent="#MainMenu">Customer
                    <i class="fa fa-caret-down"></i></a>

                <div class="collapse" id="user">
                    <a class="list-group-item" [routerLink]="['/user/create']">Create</a>
                    <a class="list-group-item" [routerLink]="['/users']">Show All</a>
                </div>
            </div>
        </div>
    </div>
</nav>