
/* You can add global styles to this file, and also import other style files */

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
* {
  box-sizing: border-box;
}
body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-family: "Open Sans", sans-serif;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
}
section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.contentTitle {
  text-transform: uppercase;
  font-weight: 900;
}
.navbar-inverse {
  background-color: #024174!important;
  border-top-color:#024174 !important;
  border-right-color:#024174 !important;
  border-bottom-color: #024174 !important;
  border-left-color: #024174 !important;
}
.navbar-inverse .navbar-brand {
  color: rgb(255, 255, 255) !important;
}
.navbar-inverse .navbar-nav > li > a {
  color: rgb(255, 255, 255);
  padding-top: 17px;
  padding-right: 12px;
  padding-bottom: 17px;
  padding-left: 12px;
}
header {
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-size: cover;
  margin-top: -2%;
  min-height: 600px;
}
#home-sec .overlay {
  background-color: rgba(149, 166, 248, 0.75);
  min-height: 600px;
}
.customerappHeader {
  line-height: 80px !important;
  font-size: 45px !important;
  font-weight: 900 !important;
  color: rgb(255, 255, 255) !important;
}
#home-sec mark {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 20px;
  margin-top: 0px;
  margin-right: 15px;
  margin-bottom: 0px;
  margin-left: 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#features-sec h3 {
  color: rgb(102, 101, 101);
}
#features-sec hr {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(184, 94, 255);
  border-right-color: rgb(184, 94, 255);
  border-bottom-color: rgb(184, 94, 255);
  border-left-color: rgb(184, 94, 255);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  width: 30%;
}
#features-sec p {
  line-height: 30px;
  color: rgb(156, 156, 156);
}
#skill-sec h4 {
  text-align: center;
  padding-top: 20px;
  font-weight: 900;
}
#skill-sec .overlay {
  padding-top: 50px;
  min-height: 250px;
  background-color: rgba(5, 5, 5, 0.45);
}
#advance-sec h3 {
  color: rgb(102, 101, 101);
}
#advance-sec p {
  line-height: 30px;
  color: rgb(156, 156, 156);
}
#just-sec .overlay {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgba(72, 104, 233, 0.95);
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
}
.portfolio-item img:hover {
  cursor: pointer;
  transform: scale(1.5, 1.5);
  transition-duration: 0.3s;
  z-index: 1;
}
ul#filters {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#filters li {
  display: -webkit-inline-box;
}
#filters li span {
  display: block;
  padding-top: 5px;
  padding-right: 4px;
  padding-bottom: 5px;
  padding-left: 4px;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  cursor: pointer;
  font-size: 14px;
  font-weight: 800;
}
#port-folio .portfolio-item {
  box-sizing: border-box;
  width: 100%;
  float: left;
  overflow-x: hidden;
  overflow-y: hidden;
  display: none;
}
footer {
  background-color: rgb(50, 51, 58);
  color: rgb(255, 255, 255);
  margin-top: 4rem;
  font-weight: 200;
  padding-top: 50px;
  padding-right: 0px;
  padding-bottom: 50px;
  padding-left: 0px;
}
footer h3 {
  color: rgb(255, 255, 255);
  font-weight: 900;
}
.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
  padding-top: 60px;
  font-family: "Open Sans", sans-serif;
}
.sidenav a {
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  color: rgb(255, 255, 255);
  display: block;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
  background-color: transparent;
  font-size: 20px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.sidenav .closebtn {
  color: white;
  position: absolute;
  top: 0px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
a.list-group-item:focus,
a.list-group-item:hover,
button.list-group-item:focus,
button.list-group-item:hover {
  color: rgb(85, 85, 85) !important;
  text-decoration-line: none !important;
  text-decoration-style: initial !important;
  text-decoration-color: initial !important;
  background-color: rgb(245, 245, 245) !important;
}
a.list-group-item-success:hover {
  color: #024174 !important;
  background-color: rgb(255, 255, 255) !important;
}
#in2oj {
  font-size: 30px;
  cursor: pointer;
  float: left;
  margin-left: 20px;
  margin-top: 5px;
}
@media (max-width: 768px) {
  header {
    margin-top: -20px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
}
@media (max-width: 375px) {
  header {
    margin-top: -20px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
