<footer id="template-i0wmf" class="">
    <div id="template-iw89d" class="container">
        <div id="template-i90bn" class="row">
            <div id="template-itzip" class="col-lg-12">
                <div id="template-iyzux" class="footer-content">Copyright © CUSTOMER APP 2021</div>
            </div>
        </div>
    </div>
</footer>